<!-- Button -->
<ng-container *transloco="let t">
    <button
        class="ff-header-icon text-default relative flex h-10 w-10 items-center justify-center rounded-full hover:bg-hover"
        type="button"
        [matMenuTriggerFor]="userActions"
        [matTooltip]="t('header.account')"
        [attr.aria-label]="t('header.account')"
    >
        @if (showAvatar && user.avatar) {
            <img class="h-7 w-7 rounded-full" [src]="user.avatar" />
        }
        @if (!showAvatar || !user.avatar) {
            <mat-icon
                class="icon-size-6"
                [svgIcon]="'heroicons_outline:user-circle'"
            ></mat-icon>
        }
    </button>
</ng-container>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <ng-container *transloco="let t">
        <button mat-menu-item>
            <span class="flex flex-col leading-none">
                <span>{{ t('user.signedInAs') }}</span>
                <span class="mt-1.5 text-md font-medium">{{ user.email }}</span>
            </span>
        </button>
        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item [routerLink]="'/profile'">
            <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            <span>{{ t('user.profile') }}</span>
        </button>
        <button mat-menu-item>
            <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
            <span>{{ t('user.settings') }}</span>
        </button>
        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item (click)="signOut()">
            <mat-icon
                [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"
            ></mat-icon>
            <span>{{ t('user.signOut') }}</span>
        </button>
    </ng-container>
</mat-menu>
