<!-- Button: text form (globe + language code) -->
<button
    class="flex items-center gap-1 font-medium"
    type="button"
    [matMenuTriggerFor]="languages"
>
    <mat-icon
        class="text-current icon-size-4"
        [svgIcon]="'heroicons_outline:globe-alt'"
    ></mat-icon>
    <span>{{ langLabels[activeLang] ?? activeLang.toUpperCase() }}</span>
    <mat-icon
        class="text-current icon-size-3"
        [svgIcon]="'heroicons_outline:chevron-down'"
    ></mat-icon>
</button>

<!-- Language menu -->
<mat-menu [xPosition]="'before'" #languages="matMenu">
    @for (lang of availableLangs; track trackByFn($index, lang)) {
        <button mat-menu-item (click)="setActiveLang(lang.id)">
            <span
                [class.font-semibold]="lang.id === activeLang"
                [class.text-primary]="lang.id === activeLang"
            >
                {{ lang.label }}
            </span>
        </button>
    }
</mat-menu>
